body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}
nav {
  text-align: center;
  position: sticky;
  top:0px;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 1;
}
nav a {
  padding: 10px;
  border: 1px black solid;
  display: inline-block;
  background-color:black;
  color: white !important;
  z-index: 999;
}
nav a.current {
  background-color:#FFF;
  transition: 0.3s;
}


.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
.bgimg-1 {
  background-image: url("imgs/douglas_raymond_baker.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("imgs/anzac_logo.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("imgs/postcard.jpg");
  min-height: 400px;
}

.bgimg-4 {
  background-image: url("imgs/map.jpg");
  min-height: 400px;
}

.bgimg-5 {
  background-image: url("imgs/world_map.jpg");
  min-height: 400px;
}
.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

.headers
{
  background-color:transparent !important; 
  font-size:42px!important; 
  color: #282E34!important;
}
/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5 {
    background-attachment: scroll;
  }
}
a:-webkit-any-link {
  color:#8cabe6;
}
.section-black
{
      color:#ddd;
background-color:#282E34;
text-align:center;
padding:50px 80px;
text-align: justify;
}
.section-white
{color: #777;
    background-color:white;
    text-align:center;
    padding:50px 80px;
    text-align: justify;"
}
